<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />


        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="app/webroot/jquery/bootstrap/js/bootstrap.min2.js"></script>
    </head>
    <body>

        <div class="container">

            <!-- Collapsible Panels - START -->
            <div class="container">

                <form class="form-horizontal">
                    <i class ="icon-search">&nbsp;</i>
                    <input type="text" placeholder="Search" class="span8">
                    <input type="submit" name="submit" class="btn btn-primary " value="Search">
                    <a title="Advance Search" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-default btn-md">
                        Advance Search
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </a>
              
                    <br>
                    
                              
                    <div id="collapseOne" class="collapse" style="box-shadow: 1px 1px 1px gray;width: 840px;margin-left: 15px">
                        <br>
                        
                        <label class="checkbox"><input type="checkbox">Name</label>
                        <label class="checkbox"><input type="checkbox">Number</label>
                        <label class="checkbox"><input type="checkbox">Tel</label>


                    </div>
                </form>





            </div>


        </div>

    </body>
</html>